<!-- <ng-container [ngSwitch]="status.Free">
  <div *ngFor="let item of items">
    <div *ngSwitchCase="status.Free">
        <p>Free</p>
      <app-product [item]="item.title"></app-product>
    </div>

    <div *ngSwitchCase="status.Offer">
        <p>Offer</p>
      <app-product [item]="item.title"></app-product>
    </div>
  </div>
</ng-container>
 -->

 <div *ngFor="let item of items">
    <app-product [item]="item.title" 
      (onAddToCart)="receivedProductValue($event)">
    </app-product>
 </div>
 
 <h3>Show Details</h3>
 {{ productValue | json }}
